Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add new rules 'enum-name-pascal-case' and 'enum-value-snake-case'
  CHANGELOG.md
  RULES.md
  src/common/ignore.ts
  src/common/rule.ts
  src/common/violation.ts
  src/lint-prisma-source-code.ts
  src/output/render/render-contextual.ts
  src/output/render/render-json.ts
  src/output/render/render-simple.ts
  src/output/render/render-util.ts
  src/rule-definitions.ts
  src/rules/enum-name-pascal-case.test.ts
  src/rules/enum-name-pascal-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

support selectively ignoring enum values via parameterized comments
  src/common/ignore.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

init
  README.md
Due: none

rebuild yarn lockfile
  yarn.lock
Due: none

init
  yarn.lock
Due: none

Add new rules `model-name-pascal-case` and `field-name-camel-case` (#458)
  CHANGELOG.md
  RULES.md
  src/common/rule-config-helpers.ts
  src/rule-definitions.ts
  src/rules/field-name-camel-case.test.ts
  src/rules/field-name-camel-case.ts
  src/rules/model-name-pascal-case.test.ts
  src/rules/model-name-pascal-case.ts
Due: eslint --fix, prettier --write

add new rule 'ban-unbounded-string-type' (#459)
  CHANGELOG.md
  RULES.md
  src/rule-definitions.ts
  src/rules/ban-unbounded-string-type.test.ts
  src/rules/ban-unbounded-string-type.ts
Due: eslint --fix, prettier --write

Add support for Enums, with new rules `enum-name-pascal-case` and `enum-value-snake-case` (#460)
  CHANGELOG.md
  RULES.md
  src/common/ignore.ts
  src/common/rule.ts
  src/common/violation.ts
  src/lint-prisma-source-code.ts
  src/output/render/render-contextual.ts
  src/output/render/render-json.ts
  src/output/render/render-simple.ts
  src/output/render/render-util.ts
  src/rule-definitions.ts
  src/rules/enum-name-pascal-case.test.ts
  src/rules/enum-name-pascal-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

init
  RULES.md
Due: none

init
  CHANGELOG.md
  package.json
Due: prettier --write

Regenerate docs on `main` (#470)
  RULES.md
Due: none

lock
  yarn.lock
Due: none

[XS] Rebuild yarn lock file (#469)
  yarn.lock
Due: none

Bump version to `0.6.0` (#471)
  CHANGELOG.md
  package.json
Due: prettier --write

a
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

init
  src/cli.ts
Due: eslint --fix, prettier --write

rename functions
  src/cli.ts
Due: eslint --fix, prettier --write

fix arg count check
  src/cli.ts
Due: eslint --fix, prettier --write

add note
  CHANGELOG.md
Due: none

Bump version to 0.7.0
  CHANGELOG.md
  package.json
Due: prettier --write

remove unneeded await
  src/cli.ts
Due: eslint --fix, prettier --write

renames
  src/cli.ts
Due: eslint --fix, prettier --write

[S] Parse Prisma schema directory or paths in `package.json` (#517)
  CHANGELOG.md
  package.json
  src/cli.ts
Due: eslint --fix, prettier --write

init
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

Add list-field-name-grammatical-number
  CHANGELOG.md
  RULES.md
  src/rule-definitions.ts
  src/rules/list-field-name-grammatical-number.test.ts
  src/rules/list-field-name-grammatical-number.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update rule name
  CHANGELOG.md
  RULES.md
  src/rule-definitions.ts
  src/rules/field-name-grammatical-number.test.ts
  src/rules/field-name-grammatical-number.ts
  yarn.lock
Due: eslint --fix, prettier --write

Add list-field-name-grammatical-number (#566)
  CHANGELOG.md
  RULES.md
  src/rule-definitions.ts
  src/rules/field-name-grammatical-number.test.ts
  src/rules/field-name-grammatical-number.ts
Due: eslint --fix, prettier --write

Bump version to 0.7.3
  CHANGELOG.md
  package.json
Due: prettier --write

clean
  CHANGELOG.md
  package.json
Due: prettier --write

8
  CHANGELOG.md
Due: none

[XS] Bump to `0.8.0` (#579)
  CHANGELOG.md
  package.json
Due: prettier --write

Adjust require-field-type to also enforce native DB type if needed
  CHANGELOG.md
  RULES.md
  src/rules/require-field-type.test.ts
  src/rules/require-field-type.ts
Due: eslint --fix, prettier --write

Adjust require-field-type to also enforce native DB type if needed (#619)
  CHANGELOG.md
  RULES.md
  src/rules/require-field-type.test.ts
  src/rules/require-field-type.ts
Due: eslint --fix, prettier --write

migrate config
  .eslintrc.cjs
  eslint.config.mjs
  example.config.ts
  package.json
  src/config/define-config.test.ts
  src/config/define-config.ts
  yarn.lock
Due: eslint --fix, prettier --write

clean
  example.config.ts
  src/config/define-config.test.ts
  src/config/define-config.ts
Due: eslint --fix, prettier --write

dir
  eslint.config.mjs
Due: none

[S] Clean yarn lock (#620)
  yarn.lock
Due: none

Bump version to 0.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
