Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[XXS] Attempt to fix release action (#12)
  .github/workflows/release.yml
Due: none

add npmrc
  .npmrc
Due: none

init
  .github/workflows/release.yml
Due: none

[XXS] Fix release action (#15)
  .github/workflows/release.yml
Due: none

[XXS] Add npmrc (#14)
  .npmrc
Due: none

[XXS] Bump to 0.0.6 (#13)
  package.json
Due: prettier --write

fix github action
  .github/workflows/release.yml
Due: none

init
  package.json
Due: prettier --write

[XXS] Fix GitHub Action (#16)
  .github/workflows/release.yml
Due: none

[XXS] Bump to 0.0.7 (#17)
  package.json
Due: prettier --write

[XXS] Fix CI publishing (#18)
  package.json
Due: prettier --write

[XXS] Bump to 0.0.8 (#19)
  package.json
Due: prettier --write

[XXS] Fix release CI (#20)
  .github/workflows/release.yml
Due: none

[S] Bump version to 0.0.9 (#21)
  package.json
Due: prettier --write

release notes
  .github/workflows/release.yml
  scripts/generate-release-notes.js
Due: prettier --write

if release
  .github/workflows/release.yml
Due: none

Bump version to 0.0.10
  CHANGELOG.md
  package.json
Due: prettier --write

[XXS] Include release notes in the release (#22)
  .github/workflows/release.yml
  scripts/generate-release-notes.js
Due: prettier --write

Bump version to 0.0.10 (#23)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  README.md
Due: none

[XS] Add repo info to package.json (#25)
  package.json
Due: prettier --write

[XS] Fix relative link on NPM (#24)
  README.md
Due: none

add to changelog
  CHANGELOG.md
Due: none

[S] Add dependabot.yml (#4)
  .github/dependabot.yml
Due: none

[S] Improve console rendering (#6)
  CHANGELOG.md
  example/README.md
  package.json
  src/cli.ts
  src/rules/require-field.ts
  yarn.lock
Due: eslint --fix, prettier --write

init
  package.json
  scripts/bump-version.js
Due: prettier --write

update version
  scripts/bump-version.js
Due: prettier --write

init
  .github/workflows/dependabot-pr-automation.yml
Due: none

init
  README.md
  src/cli.ts
Due: eslint --fix, prettier --write

init
  .github/dependabot.yml
Due: none

major
  .github/dependabot.yml
Due: none

[S] Tweak docs (#33)
  README.md
  src/cli.ts
Due: eslint --fix, prettier --write

[S] Update bump-version script to default to next patch version (#31)
  package.json
  scripts/bump-version.js
Due: prettier --write

[S] Add dependabot PR automation (#32)
  .github/workflows/dependabot-pr-automation.yml
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
