Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

init
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

[XS] Switch to slightly clearer type name (#113)
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

[M] Add forbid-required-ignored-field rule (#112)
  CHANGELOG.md
  README.md
  RULES.md
  example/.prismalintrc.json
  example/invalid.prisma
  src/common/parse-rules.test.ts
  src/rule-definitions.ts
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.19
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.19 (#115)
  CHANGELOG.md
  package.json
Due: prettier --write

add dep
  package.json
  yarn.lock
Due: prettier --write

initial impl
  src/cli.ts
Due: eslint --fix, prettier --write

update readme
  CHANGELOG.md
  README.md
Due: none

[S] Add support for reading prisma config from package.json (#135)
  CHANGELOG.md
  README.md
  package.json
  src/cli.ts
  yarn.lock
Due: eslint --fix, prettier --write

Bump version to 0.0.20
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.20 (#136)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/dependabot-pr-automation.yml
Due: none

[XS] Automerge semver minor updates in prisma-lint (#157)
  .github/workflows/dependabot-pr-automation.yml
Due: none

fixup
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

fixup
  src/rules/forbid-required-ignored-field.test.ts
Due: eslint --fix, prettier --write

fixup
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

init
  .tool-versions
Due: none

change in github actions too
  .github/workflows/pull-request-test.yml
  .github/workflows/release.yml
Due: none

[XS] Switch tool version to Node 20 (#205)
  .github/workflows/pull-request-test.yml
  .github/workflows/release.yml
  .tool-versions
Due: none

init
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  DEVELOPMENT.md
  package.json
  yarn.lock
Due: prettier --write

clean config
  .yarnrc.yml
Due: none

update gh actions
  .github/workflows/pull-request-test.yml
  .github/workflows/release.yml
Due: none

rm from tool versions
  .tool-versions
Due: none

attempt to fix actino
  .yarnrc.yml
Due: none

attempt to fix action
  .github/workflows/pull-request-test.yml
Due: none

update lock file
  yarn.lock
Due: none

update gh action
  .github/workflows/pull-request-test.yml
Due: none

update gh action
  .yarnrc.yml
Due: none

update lock file
  .github/workflows/pull-request-test.yml
Due: none

reinstall
  yarn.lock
Due: none

[S] Upgrade to yarn 4 (#206)
  .github/workflows/pull-request-test.yml
  .github/workflows/release.yml
  .tool-versions
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-4.0.1.cjs
  .yarnrc.yml
  DEVELOPMENT.md
  package.json
  yarn.lock
Due: prettier --write

merge
  yarn.lock
Due: none

add source code to FileViolationList
  src/lint-prisma-files.ts
  src/lint-prisma-source-code.ts
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

Option to pluralize snake case model names
  src/common/snake-case.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

Add example to snake case jsdoc
  src/common/snake-case.ts
Due: eslint --fix, prettier --write

update test example to match docs
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write
