Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

add changelog note
  CHANGELOG.md
Due: none

update script
  scripts/release.sh
Due: none

switch to js
  scripts/release.js
  scripts/release.sh
Due: prettier --write

scriupt
  scripts/release.js
Due: prettier --write

clean
  CHANGELOG.md
Due: none

clean
  scripts/release.js
Due: prettier --write

add release script
  scripts/release.js
Due: prettier --write

Bump version to 0.0.4
  CHANGELOG.md
  package.json
Due: prettier --write

s
  scripts/release.js
Due: prettier --write

update release
  .github/workflows/release.yml
Due: none

s
  CHANGELOG.md
  package.json
Due: prettier --write

s
  .github/workflows/release.yml
Due: none

finish set version
  .github/workflows/release.yml
  package.json
  scripts/set-version.js
Due: prettier --write

add publish script
  package.json
Due: prettier --write

reorder gh
  .github/workflows/release.yml
Due: none

s
  scripts/set-version.js
Due: prettier --write

add git commit
  scripts/set-version.js
Due: prettier --write

[M] Clean up some types and naming (#3)
  README.md
  RULES.md
  scripts/generate-docs.js
  src/cli.ts
  src/common/config.ts
  src/common/parse-rules.test.ts
  src/common/parse-rules.ts
  src/common/rule.ts
  src/common/test.ts
  src/lint-prisma-files.ts
  src/lint-prisma-source-code.ts
  src/lint.ts
  src/rule-definitions.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbid-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

init
  example/README.md
  package.json
  src/cli.ts
  src/rules/require-field.ts
  yarn.lock
Due: eslint --fix, prettier --write

bump node version
  .github/workflows/release.yml
Due: none

more if conds
  .github/workflows/release.yml
Due: none

[M] Set up CI for releases (#5)
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  scripts/set-version.js
Due: prettier --write

init
  .github/workflows/release.yml
Due: none

quotes
  .github/workflows/release.yml
Due: none

[S] Fix CI version check (#8)
  .github/workflows/release.yml
Due: none

[XS] Bump version to 0.0.4 (#7)
  CHANGELOG.md
  package.json
Due: prettier --write

attempt to get github action condition working
  .github/workflows/release.yml
Due: none

attempt to fix
  .github/workflows/release.yml
Due: none

[S] Attempt to fix boolean in release action (#9)
  .github/workflows/release.yml
Due: none

init
  package.json
Due: prettier --write

[XXS] Fix boolean condition (#11)
  .github/workflows/release.yml
Due: none

[XS] Bump to 0.0.5 (#10)
  package.json
Due: prettier --write

rm trailing space
  .github/workflows/release.yml
Due: none
