Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

docs
  RULES.md
Due: none

Allow fields with defaults to be ignored (#230)
  CHANGELOG.md
  RULES.md
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.23
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.23 (#231)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/release-if-new-version.yml
Due: none

[S] Fix release action (#232)
  .github/workflows/release-if-new-version.yml
Due: none

add support for json output
  src/cli.ts
  src/common/render.ts
Due: eslint --fix, prettier --write

clean
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

contextual
  src/cli.ts
  src/common/render.ts
Due: eslint --fix, prettier --write

start contextual output
  src/common/render.ts
Due: eslint --fix, prettier --write

add support for contextual output
  example/invalid.prisma
  src/common/render.ts
Due: eslint --fix, prettier --write

finish support for new output types
  src/cli.ts
  src/common/console.ts
  src/common/file.ts
  src/common/output-format.ts
  src/common/render.ts
  src/lint-prisma-files.ts
Due: eslint --fix, prettier --write

clean
  src/common/console.ts
Due: eslint --fix, prettier --write

fix lint
  src/common/console.ts
  src/common/render/render-contextual.ts
  src/common/render/render-json.ts
  src/common/render/render-simple.ts
  src/common/render/render-util.ts
Due: eslint --fix, prettier --write

fix lint
  src/common/console.ts
  src/common/render/render-contextual.ts
  src/common/render/render-simple.ts
Due: eslint --fix, prettier --write

fix es
  src/common/console.ts
  src/common/render/render-contextual.ts
  src/common/render/render-json.ts
  src/common/render/render-simple.ts
Due: eslint --fix, prettier --write

rename
  src/common/console.ts
Due: eslint --fix, prettier --write

add more thorough tests
  jest.config.js
  src/common/render/__snapshots__/render-contextual.test.ts.snap
  src/common/render/render-contextual.test.ts
Due: eslint --fix, prettier --write

add tests
  src/common/render/render-contextual.test.ts
Due: eslint --fix, prettier --write

fix tests
  src/common/render/render-contextual.test.ts
  src/common/render/render-test-util.ts
Due: eslint --fix, prettier --write

add more snapshot tests
  src/common/render/__snapshots__/render-contextual.test.ts.snap
  src/common/render/__snapshots__/render-json.test.ts.snap
  src/common/render/__snapshots__/render-simple.test.ts.snap
  src/common/render/render-json.test.ts
  src/common/render/render-simple.test.ts
Due: eslint --fix, prettier --write

add more snapshot tests
  src/common/render/render-json.test.ts
  src/common/render/render-simple.test.ts
Due: eslint --fix, prettier --write

fix prettier
  src/common/console.ts
  src/common/render/render-contextual.test.ts
  src/common/render/render-contextual.ts
  src/common/render/render-json.test.ts
  src/common/render/render-json.ts
  src/common/render/render-simple.test.ts
  src/common/render/render-simple.ts
  src/common/render/render-test-util.ts
Due: eslint --fix, prettier --write

remove preset
  jest.config.js
Due: prettier --write

use prefix in yarn test
  package.json
Due: prettier --write

add setup file for jest
  jest-setup/unit-test-setup.ts
  jest.config.js
Due: eslint --fix, prettier --write

create top-level output dir
  src/cli.ts
  src/common/output-format.ts
  src/output/console.ts
  src/output/output-format.ts
  src/output/render/__snapshots__/render-contextual.test.ts.snap
  src/output/render/__snapshots__/render-json.test.ts.snap
  src/output/render/__snapshots__/render-simple.test.ts.snap
  src/output/render/render-contextual.test.ts
  src/output/render/render-contextual.ts
  src/output/render/render-json.test.ts
  src/output/render/render-json.ts
  src/output/render/render-simple.test.ts
  src/output/render/render-simple.ts
  src/output/render/render-test-util.ts
  src/output/render/render-util.ts
Due: eslint --fix, prettier --write

fix src
  README.md
  src/cli.ts
  src/output/console.ts
  src/output/render/render-contextual.ts
  src/output/render/render-json.ts
  src/output/render/render-simple.ts
Due: eslint --fix, prettier --write

add readme and changelog
  CHANGELOG.md
  README.md
  src/output/console.ts
Due: eslint --fix, prettier --write

fix prettier
  src/cli.ts
  src/output/console.ts
  src/output/output-format.ts
Due: eslint --fix, prettier --write

sort
  src/output/output-format.ts
Due: eslint --fix, prettier --write

use location tracking
  package.json
  src/lint-prisma-source-code.ts
  yarn.lock
Due: eslint --fix, prettier --write

yarn up
  package.json
  yarn.lock
Due: prettier --write

use parser and visitor
  package.json
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

wrap
  src/output/console.ts
Due: eslint --fix, prettier --write

remove offset for now
  example/invalid-simple.prisma
  src/output/render/render-json.ts
Due: eslint --fix, prettier --write

fix test
  src/output/render/__snapshots__/render-json.test.ts.snap
Due: none

fix tests
  jest-setup/unit-test-setup.js
  jest.config.js
Due: prettier --write

extract helper
  src/common/get-prisma-schema.ts
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write
