Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

generate docs for pluralized snake case models
  RULES.md
Due: none

Add option to pluralize snake case model names (#213)
  RULES.md
  src/common/snake-case.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

init
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

add changelong
  CHANGELOG.md
Due: none

init
  DEVELOPMENT.md
Due: none

init
  README.md
Due: none

update docs
  DEVELOPMENT.md
  README.md
Due: none

[S] Prep for next release (#214)
  CHANGELOG.md
  DEVELOPMENT.md
  README.md
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

bump version
  scripts/bump-version.js
Due: prettier --write

Bump version to 0.0.21
  CHANGELOG.md
  package.json
Due: prettier --write

add more dev instructions
  DEVELOPMENT.md
Due: none

update dev instructions
  DEVELOPMENT.md
Due: none

nits
  DEVELOPMENT.md
Due: none

[S] Release 0.0.21 (#216)
  CHANGELOG.md
  DEVELOPMENT.md
  package.json
  scripts/bump-version.js
Due: prettier --write

init
  .github/workflows/release.yml
Due: none

also allow workflow dispatch
  .github/workflows/release.yml
Due: none

[S] Fix release action (#217)
  .github/workflows/release.yml
Due: none

init
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

add concurrency
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

no need to fetch more depth
  .github/workflows/release.yml
Due: none

add workflow call
  .github/workflows/release.yml
Due: none

rm con
  .github/workflows/release-if-new-version.yml
Due: none

[S] Allow manually triggering a new release (#218)
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

rm conditions
  .github/workflows/release.yml
Due: none

[S] Remove conditions from release action (#219)
  .github/workflows/release.yml
Due: none

[S] Add step to determine new package version (#220)
  .github/workflows/release.yml
Due: none

bump to 22
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Bump to 0.0.22 (#221)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/release-if-new-version.yml
Due: none

[S] Fix local path (#222)
  .github/workflows/release-if-new-version.yml
Due: none

merge
  package.json
Due: prettier --write

rename
  src/cli.ts
  yarn.lock
Due: eslint --fix, prettier --write

Update src/rules/forbid-required-ignored-field.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

fix es
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

feedback
  CHANGELOG.md
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

feedback
  src/rules/forbid-required-ignored-field.test.ts
Due: eslint --fix, prettier --write

link
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write
