Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

implement basic autofixing
  src/cli.ts
  src/common/fix.ts
Due: eslint --fix, prettier --write

add example
  example/README.md
Due: none

add autofixing status to generated docs
  RULES.md
  example/invalid-fixable.prisma
  scripts/generate-docs.js
  src/common/rule.ts
  src/common/violation.ts
  src/rules/require-default-empty-arrays.ts
Due: eslint --fix, prettier --write

fix
  src/common/rule.ts
  src/common/violation.ts
Due: eslint --fix, prettier --write

support auto
  src/cli.ts
Due: eslint --fix, prettier --write

support auto
  example/.fixableprismalintrc.json
Due: prettier --write

update changelog
  CHANGELOG.md
  README.md
Due: none

rm old test file
  src/common/print-prisma-schema.test.ts
Due: eslint --fix, prettier --write

add utils to make testing autofixing easier
  src/common/test.ts
  src/rules/require-default-empty-arrays.test.ts
Due: eslint --fix, prettier --write

add support for a model rule
  CHANGELOG.md
  RULES.md
  src/common/rule.ts
  src/common/violation.ts
  src/rules/model-name-prefix.test.ts
  src/rules/model-name-prefix.ts
Due: eslint --fix, prettier --write

comment
  src/cli.ts
Due: eslint --fix, prettier --write

add model name example fix
  example/.fixableprismalintrc.json
  yarn.lock
Due: prettier --write

use fixable config
  example/README.md
Due: none

add test with model
  src/common/print-prisma-schema.ts
  src/rules/model-name-prefix.test.ts
Due: eslint --fix, prettier --write

add test that includes commas
  src/common/print-prisma-schema.ts
  src/common/test.ts
  src/rules/model-name-prefix.test.ts
Due: eslint --fix, prettier --write

add notes about autofixing
  README.md
Due: none

add more specs
  src/common/print-prisma-schema.test.ts
  src/common/print-prisma-schema.ts
Due: eslint --fix, prettier --write

fix merge
  src/rules/field-name-mapping-snake-case.test.ts
  yarn.lock
Due: eslint --fix, prettier --write

init
  yarn.lock
Due: none

update yarn version
  .yarn/releases/yarn-4.0.1.cjs
  package.json
Due: prettier --write

fix lint
  package.json
  src/cli.ts
Due: eslint --fix, prettier --write

add missing new line
  src/rules/model-name-prefix.test.ts
Due: eslint --fix, prettier --write

[XS] Update `yarn.lock` (#383)
  .yarn/releases/yarn-4.0.1.cjs
  package.json
  yarn.lock
Due: prettier --write

its
  README.md
Due: none

fixable
  src/common/violation.ts
Due: eslint --fix, prettier --write

Teach `field-name-mapping-snake-case` to ignore individual fields
  CHANGELOG.md
  RULES.md
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

Teach `field-name-mapping-snake-case` to ignore individual fields (#388)
  CHANGELOG.md
  RULES.md
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

improve docs gen
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

Bump version to 0.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Bump version to 0.5.0 (#389)
  CHANGELOG.md
  package.json
Due: prettier --write

docs
  RULES.md
Due: none

fix in a loop
  src/cli.ts
  src/common/fix.ts
  src/fix/fix.ts
Due: eslint --fix, prettier --write

init
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

[XS] Clean prisma-lint docs (#394)
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

add new rule 'model-name-pascal-case'
  src/rule-definitions.ts
  src/rules/model-name-pascal-case.test.ts
  src/rules/model-name-pascal-case.ts
Due: eslint --fix, prettier --write

refactor out reusable allowList and trimPrefix logic
  src/common/rule-config-helpers.ts
  src/rules/model-name-pascal-case.ts
Due: eslint --fix, prettier --write

add new rule 'field-name-cmel-case'
  src/rule-definitions.ts
  src/rules/field-name-camel-case.test.ts
  src/rules/field-name-camel-case.ts
Due: eslint --fix, prettier --write

generate docs + changelog
  CHANGELOG.md
  RULES.md
  src/common/rule-config-helpers.ts
  src/rules/field-name-camel-case.ts
  src/rules/model-name-pascal-case.ts
Due: eslint --fix, prettier --write

add new rule 'ban-unbounded-string-type'
  CHANGELOG.md
  RULES.md
  src/rule-definitions.ts
  src/rules/ban-unbounded-string-type.test.ts
  src/rules/ban-unbounded-string-type.ts
Due: eslint --fix, prettier --write
