Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

add note
  CHANGELOG.md
Due: none

[S] Bump to version `0.9.0` (#621)
  CHANGELOG.md
  package.json
Due: prettier --write

Add support for screaming snake case enum names.
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
  yarn.lock
Due: eslint --fix, prettier --write

linter
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

revert yarn.lock change
  yarn.lock
Due: none

docs
  RULES.md
Due: none

Change config from screaming to case
  RULES.md
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

fix test
  RULES.md
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

improve support for compound words
  RULES.md
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

nits
  src/common/snake-case.ts
Due: eslint --fix, prettier --write

docs
  RULES.md
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

remove unneeded code in rule
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

[M] Support for upper snake case in `enum-value-snake-case` (#623)
  RULES.md
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

init
  CHANGELOG.md
Due: none

Bump version to 0.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Bump prisma-lint to `0.10.0` (#632)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

require case match for compound words
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

require case match for compound words
  src/common/snake-case.test.ts
Due: eslint --fix, prettier --write

require case match for compound words
  CHANGELOG.md
Due: none

require case match for compound words
  src/rules/enum-value-snake-case.test.ts
Due: eslint --fix, prettier --write

Bump version to 0.10.2
  CHANGELOG.md
  package.json
Due: prettier --write

bump to correct version
  CHANGELOG.md
  package.json
Due: prettier --write

[S][#662] Require case match for compound words in snake case rules (#663)
  CHANGELOG.md
  package.json
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/enum-value-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

init
  CHANGELOG.md
  src/common/prisma.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

cleaner comment
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

[S] Stop requiring defaults for `@ignored` relation fields. (#684)
  CHANGELOG.md
  package.json
  src/common/prisma.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

require-field-index: add support for functions in indexes
  CHANGELOG.md
  src/common/prisma.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

require-field-index: add support for functions in indexes (#774)
  CHANGELOG.md
  src/common/prisma.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

bump
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Release prisma-lint 0.10.3 (#777)
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add enum-value-case
  RULES.md
  src/common/camel-case.test.ts
  src/common/camel-case.ts
  src/common/pascal-case.test.ts
  src/common/pascal-case.ts
  src/rule-definitions.ts
  src/rules/enum-value-case.test.ts
  src/rules/enum-value-case.ts
Due: eslint --fix, prettier --write

fix: RULES.md
  RULES.md
Due: none

init
  DEVELOPMENT.md
Due: none

Add support for deprecating rules
  DEVELOPMENT.md
  src/cli.ts
  src/common/parse-rules.test.ts
  src/common/parse-rules.ts
  src/common/rule.ts
Due: eslint --fix, prettier --write

Fix formatting in parse-rules.ts
  src/common/parse-rules.ts
Due: eslint --fix, prettier --write

[XS] Recommend mise install (#783)
  DEVELOPMENT.md
Due: none
