Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

[S] Allow ignore parameters for the `forbid-field` rule (#49)
  CHANGELOG.md
  src/rules/forbid-field.test.ts
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.17
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.17 (#50)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/dependabot-pr-automation.yml
Due: none

init
  src/cli.ts
Due: eslint --fix, prettier --write

[XXS] Switch to squash merging to main (#57)
  .github/workflows/dependabot-pr-automation.yml
Due: none

prettier
  src/cli.ts
Due: eslint --fix, prettier --write

init
  src/common/prisma.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

add to changelog
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

[M] Handle case where name is omitted for @map and @@map (#60)
  CHANGELOG.md
  src/common/prisma.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

add changelog
  CHANGELOG.md
Due: none

init
  src/rules/require-field-index.test.ts
Due: eslint --fix, prettier --write

[XXS] Clearer error message when config file is missing (#58)
  CHANGELOG.md
  src/cli.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.18
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.18 (#62)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  src/rules/require-field-index.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

[XXS] Add tests to ensure `@@index` with fields key is supported (#61)
  src/rules/require-field-index.test.ts
Due: eslint --fix, prettier --write

fix documentation
  src/rules/require-field-index.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

update docs
  RULES.md
  package.json
Due: prettier --write

[XXS] Fix typo in rule docs (#63)
  RULES.md
  package.json
  src/rules/require-field-index.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

fix types
  package.json
  src/common/prisma.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

init
  package.json
  yarn.lock
Due: prettier --write

attempt to resolve types
  src/common/prisma.ts
  src/prisma-ast.d.ts
Due: eslint --fix, prettier --write

remove explicit anys
  src/common/prisma.ts
Due: eslint --fix, prettier --write

rm d ts
  src/prisma-ast.d.ts
Due: eslint --fix, prettier --write

yarn lock
  yarn.lock
Due: none

add logging test case
  src/common/rule.ts
  src/lint-prisma-source-code.ts
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

update ast dept
  yarn.lock
Due: none

use field loc
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

add function with location type
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

apply prettier 3
  src/common/render.ts
Due: eslint --fix, prettier --write

remove removed rule
  .eslintrc.cjs
Due: none

init
  src/common/parse-rules.test.ts
  src/rule-definitions.ts
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

init
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

gen docs
  RULES.md
Due: none

add to readme
  README.md
Due: none

add to example
  example/.prismalintrc.json
  example/invalid.prisma
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
