Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add test
  src/common/file.test.ts
Due: eslint --fix, prettier --write

add another test
  src/common/regex.test.ts
  src/common/regex.ts
Due: eslint --fix, prettier --write

add note on output
  README.md
Due: none

nits to fix readme
  README.md
Due: none

[L] Add new output options that make use of CST node location data (#84)
  CHANGELOG.md
  README.md
  example/invalid-simple.prisma
  example/invalid.prisma
  jest-setup/unit-test-setup.js
  jest.config.js
  package.json
  src/cli.ts
  src/common/file.test.ts
  src/common/file.ts
  src/common/get-prisma-schema.ts
  src/common/regex.test.ts
  src/common/regex.ts
  src/common/rule.ts
  src/lint-prisma-files.ts
  src/lint-prisma-source-code.ts
  src/output/console.ts
  src/output/output-format.ts
  src/output/render/__snapshots__/render-contextual.test.ts.snap
  src/output/render/__snapshots__/render-json.test.ts.snap
  src/output/render/__snapshots__/render-simple.test.ts.snap
  src/output/render/render-contextual.test.ts
  src/output/render/render-contextual.ts
  src/output/render/render-json.test.ts
  src/output/render/render-json.ts
  src/output/render/render-simple.test.ts
  src/output/render/render-simple.ts
  src/output/render/render-test-util.ts
  src/output/render/render-util.ts
  yarn.lock
Due: eslint --fix, prettier --write

run yarn
  yarn.lock
Due: none

init
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

init
  DEVELOPMENT.md
Due: none

[S] Switch to @tsconfig/node20 (#240)
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

[XS] Add example asdf usage (#241)
  DEVELOPMENT.md
Due: none

Bump version to 0.0.25
  CHANGELOG.md
  package.json
Due: prettier --write

version
  CHANGELOG.md
  package.json
Due: prettier --write

Release 0.0.24 (#242)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

init
  example/valid2.prisma
  src/output/console.ts
Due: eslint --fix, prettier --write

[S] Properly handle secrets in reusable workflow (#243)
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

[XS] Avoid extra empty line in output in `simple` output format (#244)
  example/valid2.prisma
  src/output/console.ts
Due: eslint --fix, prettier --write

message
  CHANGELOG.md
Due: none

Release 0.0.25 (#245)
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Attempt to fix GitHub Action (#246)
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none

init
  src/cli.test.ts
Due: eslint --fix, prettier --write

init
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

docs
  RULES.md
Due: none

[XS] Minor cleanup to forbid-required-ignored-field.ts (#255)
  RULES.md
  src/rules/forbid-required-ignored-field.ts
Due: eslint --fix, prettier --write

init
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

init
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

[XS] Add tests for single-word model name mapping (#263)
  src/rules/model-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

add note to unreleased
  CHANGELOG.md
  yarn.lock
Due: none

[S] Return violation for incorrect mapping of single-word field name (#262)
  CHANGELOG.md
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
  yarn.lock
Due: eslint --fix, prettier --write

Bump version to 0.0.26
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.26 (#278)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  README.md
Due: none

init
  DEVELOPMENT.md
  RULES.md
  src/rule-definitions.ts
  src/rules/require-default-empty-arrays.test.ts
  src/rules/require-default-empty-arrays.ts
Due: eslint --fix, prettier --write

update changelog
  CHANGELOG.md
Due: none

[XS] Show example commands for different output formats (#279)
  README.md
Due: none

fix docs
  RULES.md
  src/rules/require-default-empty-arrays.ts
Due: eslint --fix, prettier --write

yarn
  yarn.lock
Due: none

[M] Add new rule `require-default-empty-arrays` (#280)
  CHANGELOG.md
  DEVELOPMENT.md
  RULES.md
  src/rule-definitions.ts
  src/rules/require-default-empty-arrays.test.ts
  src/rules/require-default-empty-arrays.ts
  yarn.lock
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
