Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump version to 0.0.11
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.0.11 (#35)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  src/cli.ts
Due: eslint --fix, prettier --write

clean
  CHANGELOG.md
  src/cli.ts
Due: eslint --fix, prettier --write

init
  .github/workflows/dependabot-pr-automation.yml
Due: none

[XXS] Fix behavior when no CLI arg is provided (#37)
  CHANGELOG.md
  src/cli.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.12
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Fix dependabot PR automation (#38)
  .github/workflows/dependabot-pr-automation.yml
Due: none

Bump version to 0.0.12 (#39)
  CHANGELOG.md
  package.json
Due: prettier --write

inirt
  CHANGELOG.md
Due: none

add note
  README.md
Due: none

improve logging
  CHANGELOG.md
  src/cli.ts
Due: eslint --fix, prettier --write

[S] Preannouncement tweaks (#40)
  CHANGELOG.md
  README.md
  src/cli.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.14
  CHANGELOG.md
  package.json
Due: prettier --write

skip 13
  CHANGELOG.md
Due: none

init
  README.md
  example/loop/.prismalintrc.json
Due: prettier --write

fix npx docs
  README.md
Due: none

update changelog
  CHANGELOG.md
Due: none

[S] Improve docs add example config (#42)
  CHANGELOG.md
  README.md
  example/loop/.prismalintrc.json
Due: prettier --write

Bump version to 0.0.14 (#41)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  .github/workflows/release.yml
Due: none

set name
  .github/workflows/release.yml
Due: none

notes
  .github/workflows/release.yml
Due: none

init
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Support multiline release notes output (#43)
  .github/workflows/release.yml
Due: none

Bump to 0.0.15 (#44)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  README.md
Due: none

improve
  README.md
Due: none

[S] More accessible example (#45)
  README.md
Due: none

init
  CHANGELOG.md
  src/rules/field-order.ts
  src/rules/require-field-type.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

Bump version to 0.0.16
  CHANGELOG.md
  package.json
Due: prettier --write

gen docs
  RULES.md
Due: none

[S] Minor tweaks to rules documentation (#46)
  CHANGELOG.md
  RULES.md
  package.json
  src/rules/field-order.ts
  src/rules/require-field-type.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

init
  example/loop/.prismalintrc.json
Due: prettier --write

init
  example/.invalidprismalintrcwithoutrules.json
  example/README.md
  src/common/parse-rules.ts
Due: eslint --fix, prettier --write

[S] Add better error handling if rules missing in config (#48)
  example/.invalidprismalintrcwithoutrules.json
  example/README.md
  src/common/parse-rules.ts
Due: eslint --fix, prettier --write

[S] Add more to the Loop config example (#47)
  example/loop/.prismalintrc.json
Due: prettier --write

init
  CHANGELOG.md
Due: none

init
  CHANGELOG.md
  src/rules/forbid-field.test.ts
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

fix impl
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
