Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add rules
  RULES.md
Due: none

forbid
  src/rule-registry.ts
  src/rules/forbid-field.test.ts
  src/rules/forbid-field.ts
Due: eslint --fix, prettier --write

safety check in docs generation
  RULES.md
  scripts/generate-docs.js
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

fix readme
  README.md
Due: none

usage first
  README.md
Due: none

clean up examples
  src/rules/field-name-mapping-snake-case.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

strict
  fixture/valid.prisma
  src/rules/field-name-mapping-snake-case.ts
  src/rules/field-order.ts
  src/rules/forbid-field.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/model-name-prefix.ts
  src/rules/require-field-index.ts
  src/rules/require-field-type.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

clearer config parsing errors
  fixture/.prismalintrc.json
  src/cli.ts
  src/common/config.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/field-order.ts
  src/rules/forbid-field.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/model-name-prefix.ts
  src/rules/require-field-index.ts
  src/rules/require-field-type.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

better docs generation
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

fix many examples
  src/rules/require-field-index.ts
  src/rules/require-field-type.ts
Due: eslint --fix, prettier --write

fix docs
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

add another example
  src/rules/field-order.ts
Due: eslint --fix, prettier --write

comments
  src/rules/field-order.ts
  src/rules/model-name-prefix.ts
  src/rules/require-field-index.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

update snapshot tests
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/model-name-grammatical-number.test.ts
Due: eslint --fix, prettier --write

clearer errors
  src/common/config.ts
Due: eslint --fix, prettier --write

tests pass
  src/cli.ts
  src/common/config.ts
  src/common/rule.ts
  src/common/test.ts
  src/lint.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/field-order.test.ts
  src/rules/field-order.ts
  src/rules/forbid-field.test.ts
  src/rules/forbid-field.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/model-name-prefix.test.ts
  src/rules/model-name-prefix.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field-type.ts
  src/rules/require-field.test.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write

clean up
  fixture/.prismalintrc.json
  src/cli.ts
  src/common/config.ts
  src/common/test.ts
  src/lint.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbid-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

fix examples
  example/.invalidprismalintrc.json
  example/.prismalintrc.json
  example/README.md
  example/invalid.prisma
  example/valid.prisma
  fixture/README.md
Due: prettier --write

add tests for config parsing
  src/cli.ts
  src/common/config.test.ts
  src/common/config.ts
  src/common/test.ts
  src/common/violation.ts
Due: eslint --fix, prettier --write

add program name
  src/cli.ts
Due: eslint --fix, prettier --write

fix tests
  src/common/config.ts
Due: eslint --fix, prettier --write

fix default argument
  src/cli.ts
Due: eslint --fix, prettier --write

clean
  src/cli.ts
Due: eslint --fix, prettier --write

better docs
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

update readme
  README.md
Due: none

bump version
  package.json
Due: prettier --write

init
  src/cli.ts
  src/common/config.test.ts
  src/common/config.ts
  src/common/rule.ts
  src/common/test.ts
  src/lint.ts
  src/rule-definitions.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbid-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

fix lint
  src/cli.ts
  src/common/config.ts
  src/common/parse-rules.test.ts
  src/common/parse-rules.ts
  src/common/rule.ts
  src/common/test.ts
  src/lint.ts
Due: eslint --fix, prettier --write

tweaks
  RULES.md
  scripts/generate-docs.js
  src/common/config.ts
  src/common/parse-rules.ts
  src/common/test.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbid-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

clean names
  src/cli.ts
Due: eslint --fix, prettier --write

clean
  src/common/config.ts
Due: eslint --fix, prettier --write

split lint
  src/cli.ts
  src/common/test.ts
  src/lint-prisma-files.ts
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

fix name
  src/rules/require-field-index.test.ts
Due: eslint --fix, prettier --write

mutable
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

fix typo
  README.md
Due: none

init
  renovate.json
Due: prettier --write

Add dependabot.yml
  .github/dependabot.yml
Due: none

add release script
  CHANGELOG.md
  package.json
  scripts/release.sh
Due: prettier --write

reset
  package.json
  renovate.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
