Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{ts,json}": "prettier --write"
}

add tests
  src/common/regex.ts
  src/rules/forbidden-field.spec.ts
  src/rules/forbidden-field.ts
Due: eslint --fix, prettier --write

flesh out required index
  src/common/prisma.ts
  src/rules/required-field-index.ts
  src/rules/required-field-type.ts
Due: eslint --fix, prettier --write

add index spec
  src/rules/required-field-index.spec.ts
Due: eslint --fix, prettier --write

add more specs
  src/rules/required-field-index.spec.ts
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

add support for regex field name
  src/rules/required-field-index.spec.ts
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

add rules and rules generation
  RULES.md
  scripts/generate-docs.js
Due: none

prettier
  src/common/regex.ts
Due: eslint --fix, prettier --write

better docs
  RULES.md
  scripts/generate-docs.js
  src/rules/field-name-mapping-snake-case.ts
  src/rules/field-order.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/model-name-prefix.ts
  src/rules/required-field-index.ts
  src/rules/required-field-type.ts
  src/rules/required-field.ts
Due: eslint --fix, prettier --write

better docs
  src/rules/required-field-index.ts
  src/rules/required-field.ts
Due: eslint --fix, prettier --write

better docs
  RULES.md
  package.json
  scripts/generate-docs.js
  yarn.lock
Due: prettier --write

generate docs
  RULES.md
  package.json
Due: prettier --write

fix lint staged
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write

add docs test
  .github/workflows/pull-request-test.yml
Due: none

clean
  package.json
  yarn.lock
Due: prettier --write

sort package json
  package.json
Due: prettier --write

s
  README.md
Due: none

add more rules to registry
  README.md
  fixture/README.md
  src/rule-registry.ts
Due: eslint --fix, prettier --write

rename spec to test
  jest.config.js
  src/common/snake-case.test.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbidden-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/required-field-index.test.ts
  src/rules/required-field-type.test.ts
  src/rules/required-field.test.ts
Due: eslint --fix, prettier --write

simplify docs
  package.json
  scripts/generate-docs.js
  src/cli.ts
Due: eslint --fix, prettier --write

add ignore comments
  README.md
Due: none

add more on comments
  README.md
Due: none

readme
  README.md
Due: none

follow proper config structure
  fixture/.prismalintrc.json
  fixture/README.md
  src/cli.ts
Due: eslint --fix, prettier --write

better support for multiple files
  package.json
  src/cli.ts
  src/common/render.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix off by one
  src/cli.ts
Due: eslint --fix, prettier --write

better treatment of numbers in snake case
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/field-name-mapping-snake-case.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

docs
  RULES.md
  scripts/generate-docs.js
Due: none

s
  RULES.md
  scripts/generate-docs.js
Due: none

tests working
  fixture/.prismalintrc.json
  src/rules/required-field-index.test.ts
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

add support for for all relations
  src/rules/required-field-index.test.ts
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

for names
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

add more index checking conditions
  RULES.md
  src/rules/forbidden-field.test.ts
  src/rules/forbidden-field.ts
  src/rules/required-field-index.test.ts
  src/rules/required-field-index.ts
Due: eslint --fix, prettier --write

fix docs
  RULES.md
  scripts/generate-docs.js
Due: none

clean up output
  fixture/.prismalintrc.json
  fixture/invalid.prisma
  fixture/valid.prisma
  src/rules/field-name-mapping-snake-case.ts
  src/rules/field-order.ts
  src/rules/model-name-mapping-snake-case.ts
  src/rules/model-name-prefix.ts
  src/rules/required-field-index.ts
  src/rules/required-field-type.ts
  src/rules/required-field.ts
Due: eslint --fix, prettier --write

better prettier
  .prettierrc.cjs
  scripts/generate-docs.js
Due: none

set exit code upon exiting
  RULES.md
  src/cli.ts
Due: eslint --fix, prettier --write

explicit config
  fixture/README.md
  src/cli.ts
Due: eslint --fix, prettier --write

more cleanuo
  README.md
Due: none

style
  README.md
  RULES.md
  fixture/.prismalintrc.json
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-grammatical-number.ts
Due: eslint --fix, prettier --write

generate docs
  fixture/.prismalintrc.json
  src/common/config.ts
  src/rule-registry.ts
  src/rules/field-order.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-prefix.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field-type.ts
  src/rules/require-field.test.ts
  src/rules/require-field.ts
Due: eslint --fix, prettier --write
