Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

init
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Bump version to 0.1.0 (#285)
  CHANGELOG.md
  package.json
Due: prettier --write

init
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

[XS] Hide empty config schema in rules docs (#290)
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

init
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

docs
  RULES.md
Due: none

docs
  CHANGELOG.md
Due: none

init
  CHANGELOG.md
Due: none

Bump version to 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

clean
  RULES.md
Due: none

add unit test
  src/rules/field-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

[XS] Update dependencies and cut 0.1.1 (#335)
  CHANGELOG.md
  package.json
Due: prettier --write

Bump version to 0.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Add `require-prefix` option to `field-name-mapping-snake-case` (#336)
  CHANGELOG.md
  RULES.md
  package.json
  src/common/snake-case.test.ts
  src/common/snake-case.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

up
  package.json
  yarn.lock
Due: prettier --write

log
  CHANGELOG.md
Due: none

Bump version to 0.1.3
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Bump `@mrleebo/prisma-ast` to `0.12.0` and release new version (#346)
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

add changelog
  CHANGELOG.md
  RULES.md
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

Bump version to 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

add more examples
  RULES.md
  src/rules/model-name-grammatical-number.ts
Due: eslint --fix, prettier --write

[M] Add `allowlist` to `model-name-grammatical-number` (#356)
  CHANGELOG.md
  RULES.md
  package.json
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-grammatical-number.ts
  src/rules/model-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

init
  CHANGELOG.md
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

Bump version to 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

test nit
  src/rules/field-name-mapping-snake-case.test.ts
Due: eslint --fix, prettier --write

dcs
  RULES.md
Due: none

fix docs
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

[M] Add `requireUnderscorePrefixForIds` and remove `requirePrefix` to actually support Mongo naming conventions (#362)
  CHANGELOG.md
  RULES.md
  package.json
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

init
  src/common/prisma.ts
  src/common/rule.ts
  src/lint-prisma-source-code.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

update example
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

fix example
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

changelog
  CHANGELOG.md
Due: none

add support for custom types
  CHANGELOG.md
  src/common/prisma.ts
  src/common/rule.ts
  src/lint-prisma-source-code.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

add example with custom types
  RULES.md
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

Bump version to 0.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

dev nit
  DEVELOPMENT.md
Due: none

[M] Add support for enums and custom types with `field-name-mapping-snake-case` (#365)
  CHANGELOG.md
  DEVELOPMENT.md
  RULES.md
  package.json
  src/common/prisma.ts
  src/common/rule.ts
  src/lint-prisma-source-code.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-name-mapping-snake-case.ts
Due: eslint --fix, prettier --write

init
  src/common/print-prisma-schema.test.ts
  src/common/print-prisma-schema.ts
Due: eslint --fix, prettier --write

implement basic autofixing
  src/cli.ts
  src/common/get-prisma-schema.ts
  src/common/print-prisma-schema.test.ts
  src/common/test.ts
  src/common/violation.ts
  src/lint-prisma-files.ts
  src/lint-prisma-source-code.ts
  src/output/console.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/field-order.test.ts
  src/rules/forbid-field.test.ts
  src/rules/forbid-required-ignored-field.test.ts
  src/rules/model-name-grammatical-number.test.ts
  src/rules/model-name-mapping-snake-case.test.ts
  src/rules/model-name-prefix.test.ts
  src/rules/require-default-empty-arrays.test.ts
  src/rules/require-default-empty-arrays.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{js,json})
