Repository loop-payments/prisma-lint: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{js,json}": "prettier --write"
}

[S] Add support for deprecating rules (#784)
  DEVELOPMENT.md
  src/cli.ts
  src/common/parse-rules.test.ts
  src/common/parse-rules.ts
  src/common/rule.ts
Due: eslint --fix, prettier --write

feat: add deprecated message
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

doc: add CHANGELOG
  CHANGELOG.md
Due: none

Suggest for enum-value-case to support more flexible enum style (#782)
  CHANGELOG.md
  RULES.md
  src/common/camel-case.test.ts
  src/common/camel-case.ts
  src/common/pascal-case.test.ts
  src/common/pascal-case.ts
  src/rule-definitions.ts
  src/rules/enum-value-case.test.ts
  src/rules/enum-value-case.ts
  src/rules/enum-value-snake-case.ts
Due: eslint --fix, prettier --write

Bump version to 0.10.4
  CHANGELOG.md
  package.json
Due: prettier --write

bump version
  CHANGELOG.md
  package.json
Due: prettier --write

init
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

[S] Release 0.11.0 (#785)
  CHANGELOG.md
  package.json
Due: prettier --write

[S] Indicate which fields are deprecated in RULES.md (#786)
  RULES.md
  scripts/generate-docs.js
Due: prettier --write

Adding per-line ignores
  src/common/ignore.ts
  src/lint-prisma-source-code.ts
  src/rules/ignore-line.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

Handling comma in multiple rules per line ignores
  src/common/ignore.ts
  src/rules/ignore-line.test.ts
Due: eslint --fix, prettier --write

Rename the comment to ingore-field
  README.md
  src/common/ignore-field.test.ts
  src/common/ignore.ts
  src/lint-prisma-source-code.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

Applied prettier
  src/common/ignore-field.test.ts
  src/lint-prisma-source-code.ts
Due: eslint --fix, prettier --write

Adding more test cases and strictrer typing
  src/common/ignore-field.test.ts
  src/lint-prisma-source-code.ts
  src/rules/ban-unbounded-string-type.test.ts
  src/rules/field-name-camel-case.test.ts
  src/rules/field-name-grammatical-number.test.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/forbid-field.test.ts
  src/rules/require-default-empty-arrays.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
Due: eslint --fix, prettier --write

Bump Changelog
  CHANGELOG.md
Due: none

Add support of per-field ignores (#787)
  CHANGELOG.md
  README.md
  src/common/ignore-field.test.ts
  src/common/ignore.ts
  src/lint-prisma-source-code.ts
  src/rules/ban-unbounded-string-type.test.ts
  src/rules/field-name-camel-case.test.ts
  src/rules/field-name-grammatical-number.test.ts
  src/rules/field-name-mapping-snake-case.test.ts
  src/rules/forbid-field.test.ts
  src/rules/require-default-empty-arrays.test.ts
  src/rules/require-field-index.test.ts
  src/rules/require-field-type.test.ts
  src/rules/require-field.test.ts
Due: eslint --fix, prettier --write

Bump version to 0.12.0
  package.json
Due: prettier --write

Bump prisma-lint version to 0.12.0 (#788)
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

[XS] Fix README.md formatting (#789)
  README.md
Due: none

Add support for prisma.config.ts schema path (Prisma 7+)
  CHANGELOG.md
  README.md
  src/cli.ts
  src/common/prisma-config.test.ts
  src/common/prisma-config.ts
Due: eslint --fix, prettier --write

[M] Add support for prisma.config.ts schema path (Prisma 7+) (#791)
  CHANGELOG.md
  README.md
  src/cli.ts
  src/common/prisma-config.test.ts
  src/common/prisma-config.ts
Due: eslint --fix, prettier --write

init
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

init
  CHANGELOG.md
  package.json
Due: prettier --write

[XS] Bump yarn version and run yarn locally (#792)
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

[XS] Bump prisma-lint version to 0.13.0 (#793)
  CHANGELOG.md
  package.json
Due: prettier --write

Fix field parsing in require-field-index
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

Fix field parsing in require-field-index (#799)
  src/rules/require-field-index.test.ts
  src/rules/require-field-index.ts
Due: eslint --fix, prettier --write

[XS] Release prisma-lint 0.13.1 (#800)
  CHANGELOG.md
  package.json
Due: prettier --write

Add Renovate config with auto-merge for minor/patch updates
  renovate.json
Due: prettier --write

Remove Dependabot config in favor of Renovate
  .github/dependabot.yml
Due: none

Remove Dependabot PR automation workflow
  .github/workflows/dependabot-pr-automation.yml
Due: none

Add Renovate config with auto-merge (#801)
  .github/dependabot.yml
  .github/workflows/dependabot-pr-automation.yml
  renovate.json
Due: prettier --write

ci: declare GITHUB_TOKEN permissions on maybe-release
  .github/workflows/release-if-new-version.yml
Due: none

ci: declare GITHUB_TOKEN permissions on release
  .github/workflows/release.yml
Due: none

ci: declare GITHUB_TOKEN permissions (org default is now read) (#802)
  .github/workflows/release-if-new-version.yml
  .github/workflows/release.yml
Due: none
